/* INDICE */
.indice {
  padding-bottom: 40px;
  padding-top: 40px;
}

.indice div {
  /* coloca subtitulo e separador na mesma linha */
  display: inline-block;
}

.indice ul li {
  /* espaçamento entre cada item da lista */
  margin-top: 40px;
}

.indice ul li h3 {
  color: #3d2007;
  display: inline-block;
  font-family: Metropolis;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.1em;
}

.indice ul li h3:nth-of-type(1) {
  /* numeracao do indice */
  margin-left: 130px;
  width: 60px;
}

.indice ul li h3:nth-of-type(2) {
  margin-left: 40px;
}
