/*Estilo para tablets*/
@media only screen and (min-width: 788px) and (max-width: 979px) {
}

/*Estilo para smartphone*/
@media only screen and (max-width: 787px) {
  /*Header*/
  .header {
    position: relative;
    padding-bottom: 0px;
  }

  .header img {
    display: block;
    margin: 0 auto;
  }

  .nav-menu {
    text-align: center;
    margin: 0;
  }

  .nav-menu ul li {
    margin: 10px 0 0 0;
    padding: 10px 0;
    width: 120px;
  }

  .nav-menu ul li:nth-child(even) {
    margin-left: 20px;
  }

  .nav-menu ul .sobre-nos-nav {
    width: 120px;
  }

  /* Introducao */
  .introducao {
    margin-top: 0;
    height: auto;
  }
}
