/*Estilo para tablets*/
@media only screen and (min-width: 788px) and (max-width: 979px) {
  /*Header*/
  .nav-menu ul li {
    margin-left: 0;
    margin-right: 5px;
    width: 95px;
  }

  /* Categorias */
  .subtitulo-separador,
  .separador {
    display: block;
    margin: 0;
    text-align: center;
    padding: 0;
  }

  .subtitulo {
    padding-top: 20px;
  }

  .linhas-categorias {
    left: 93px;
  }
  .categorias-lista {
    padding-left: 20px;
  }

  .categorias-lista li:nth-child(3) {
    margin-right: 0px;
  }

  .categorias-lista li:nth-child(1) {
    margin-right: 127px;
  }

  /* Footer */
  .footer li:nth-child(3) {
    padding-left: 300px;
  }
}

/*Estilo para smartphone*/
@media only screen and (max-width: 787px) {
  /*Header*/
  .header {
    position: relative;
    padding-bottom: 0px;
  }

  .header img {
    display: block;
    margin: 0 auto;
  }

  .nav-menu {
    text-align: center;
    margin: 0;
  }

  .nav-menu ul li {
    margin: 10px 0 0 0;
    padding: 10px 0;
    width: 120px;
  }

  .nav-menu ul li:nth-child(even) {
    margin-left: 20px;
  }

  .nav-menu ul .sobre-nos-nav {
    width: 120px;
  }

  /* Introducao */
  .introducao {
    margin-top: 0;
    height: auto;
  }

  /* Overview */
  .visao-geral {
    height: auto;
    margin-bottom: 20px;
    text-align: left;
  }

  .overview h2:after {
    margin: 0;
  }

  .overview-text {
    font-size: 20px;
    margin-bottom: 60px;
    margin-left: 0px;
    text-align: left;
  }

  .sobre-nos {
    height: auto;
    margin-bottom: 20px;
    text-align: left;
  }

  .objetivos {
    height: auto;
    margin-bottom: 20px;
    text-align: left;
  }

  .overview div ul {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 60px;
    margin-left: 0px;
  }

  /* Categorias */
  .subtitulo-separador,
  .separador {
    display: block;
    margin: 0;
    text-align: center;
    padding: 0;
  }

  .subtitulo {
    padding-top: 20px;
  }

  .linhas-categorias {
    display: none;
  }

  .logo-categorias {
    display: none;
  }

  .categorias h3 {
    color: #3d2007;
    font-family: Metropolis;
    font-size: 15px;
    line-height: 15px;
    margin-top: 20px;
    text-transform: none;
  }

  .categorias-lista {
    margin: 20px 0;
    padding-top: 0px;
    padding-left: 0px;
  }

  .categorias-lista li {
    display: inline-block;
    text-align: center;
    margin-right: 0px;
    max-width: 95px;
  }

  .categorias-lista .icone-praticas {
    height: 78.18px;
    width: 71.01px;
  }

  .categorias-lista .icone-economia {
    height: 78.54px;
    width: 52.48px;
  }

  .categorias-lista .icone-conservacao {
    height: 78.1px;
    width: 40.34px;
  }

  /* Footer */
  .footer ul {
    margin-left: 0px;
    padding: 20px 0;
  }

  .footer ul li:nth-of-type(2),
  .footer ul li:nth-of-type(3) {
    display: block;
  }

  .footer li:nth-child(1) {
    text-align: left;
  }

  .footer li:nth-child(2) {
    text-align: left;
  }

  .footer li:nth-child(3) {
    text-align: left;
    padding-left: 0px;
  }
}
