/*Estilo para tablets*/
@media only screen and (min-width: 788px) and (max-width: 979px) {
  /*Header*/
  .nav-menu ul li {
    margin-left: 0;
    margin-right: 5px;
    width: 95px;
  }

  /* Call to action */
  .call-to-action {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  /* Indice com resumo */
  .indice-pagina {
    height: auto;
    margin-right: 0px;
  }

  .indice-pagina h2 {
    font-size: 24px;
  }

  .resumo-pagina {
    width: 510px;
  }

  .resumo-pagina p {
    font-size: 18px;
  }

  /* Categorias */
  .subtitulo-separador,
  .separador {
    display: block;
    margin: 0;
    text-align: center;
    padding: 0;
  }

  .separador img {
    width: 640px;
  }

  .subtitulo {
    padding-top: 20px;
  }

  .linhas-categorias {
    left: 93px;
  }
  .categorias-lista {
    padding-left: 20px;
  }

  .categorias-lista li:nth-child(3) {
    margin-right: 0px;
  }

  .categorias-lista li:nth-child(1) {
    margin-right: 127px;
  }

  /* Indice */
  .indice ul li h3 {
    font-size: 24px;
    line-height: 20px;
  }

  /* Primeiros passos */
  .ods {
    display: inline-block;
    margin-right: 0px;
    width: auto;
  }

  .ods h2::after {
    margin-left: 10px;
  }

  .ods-text {
    display: inline-block;
    margin-left: 40px;
    width: 600px;
  }

  .ods-text p {
    font-size: 20px;
  }

  /* Praticas */
  .icone-lab {
    width: 135px;
  }

  .icone-lab p {
    font-size: 16px;
  }

  .pratica {
    width: 500px;
  }

  .pratica p {
    font-size: 18px;
  }

  .indice-download {
    padding-top: 40px;
  }

  .materiais {
    margin: 0 auto;
  }

  /* Footer */
  .footer li:nth-child(3) {
    padding-left: 300px;
  }
}

/*Estilo para smartphone*/
@media only screen and (max-width: 787px) {
  /*Header*/
  .header {
    position: relative;
    padding-bottom: 0px;
  }

  /* Call to action */
  .call-to-action {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .header img {
    display: block;
    margin: 0 auto;
  }

  .nav-menu {
    text-align: center;
    margin: 0;
  }

  .nav-menu ul li {
    margin: 10px 0 0 0;
    padding: 10px 0;
    width: 120px;
  }

  .nav-menu ul li::after {
    background-color: #3d2007;
    content: "";
    display: block;
    margin: 10px auto;
    height: 1px;
    width: 60px;
  }

  .nav-menu ul li:nth-child(even) {
    margin-left: 20px;
  }

  .nav-menu ul .sobre-nos-nav {
    width: 120px;
  }

  /* Introducao */
  .introducao {
    margin-top: 0;
    height: auto;
  }

  /* Titulo Interno */
  .titulo-interno {
    margin-top: 0px;
    padding-top: 30px;
  }

  .titulo-interno h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .titulo-interno p {
    font-size: 12px;
  }

  /* Indice */
  .indice ul li h3 {
    font-size: 18px;
    line-height: 20px;
  }

  .indice ul li h3:nth-of-type(1) {
    /* numeracao do indice */
    margin-left: 0px;
    width: 40px;
  }

  .indice ul li h3:nth-of-type(2) {
    margin-left: 0px;
  }

  /* Indice com resumo */
  .indice-pagina {
    margin-top: 0px;
    margin-right: 0px;
    height: auto;
    padding-left: 0px;
  }

  .indice-pagina h2 {
    text-align: left;
  }

  .indice-pagina h2::after {
    margin: 10px 0px 0px 0px;
  }

  .resumo-pagina {
    margin: 0px;
    width: auto;
  }

  .resumo-pagina p {
    font-size: 18px;
  }

  /* Overview */
  .visao-geral {
    height: auto;
    margin-bottom: 20px;
    text-align: left;
  }

  .overview h2:after {
    margin: 0;
  }

  .overview-text {
    font-size: 20px;
    margin-bottom: 60px;
    margin-left: 0px;
    text-align: left;
  }

  .sobre-nos {
    height: auto;
    margin-bottom: 20px;
    text-align: left;
  }

  .objetivos {
    height: auto;
    margin-bottom: 20px;
    text-align: left;
  }

  .overview div ul {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 60px;
    margin-left: 0px;
  }

  /* Categorias */
  .subtitulo-separador,
  .separador {
    display: block;
    margin: 0;
    text-align: center;
    padding: 0;
  }

  .subtitulo {
    padding-top: 20px;
  }

  .linhas-categorias {
    display: none;
  }

  .logo-categorias {
    display: none;
  }

  .categorias h3 {
    color: #3d2007;
    font-family: Metropolis;
    font-size: 15px;
    line-height: 15px;
    margin-top: 20px;
    text-transform: none;
  }

  .categorias-lista {
    margin: 20px 0;
    padding-top: 0px;
    padding-left: 0px;
  }

  .categorias-lista li {
    display: inline-block;
    text-align: center;
    margin-right: 0px;
    max-width: 95px;
  }

  .categorias-lista .icone-praticas {
    height: 78.18px;
    width: 71.01px;
  }

  .categorias-lista .icone-economia {
    height: 78.54px;
    width: 52.48px;
  }

  .categorias-lista .icone-conservacao {
    height: 78.1px;
    width: 40.34px;
  }

  /* Primeiros Passos */
  .ods {
    height: auto;
    padding-left: 0px;
    width: auto;
  }

  .ods h2 {
    text-align: left;
  }

  .ods h2::after {
    margin-left: 0px;
  }

  .ods-text {
    margin-top: 20px;
    padding-left: 0px;
    width: auto;
  }

  .ods-text p {
    font-size: 20px;
  }

  .ods-12-13 img {
    height: 100px;
    width: 100px;
  }

  .separador-agentes {
    display: none;
  }

  .agentes-lista {
    margin-bottom: 0px;
  }

  .agentes-lista li {
    margin-top: 20px;
  }

  /* Praticas */
  .praticas-lista {
    text-align: left;
    margin-bottom: 40px;
  }

  .icone-lab {
    display: block;
    text-align: left;
  }

  .icone-lab p::after {
    background-color: #3d2007;
    content: "";
    display: block;
    margin: 15px 0;
    height: 2px;
    width: 60px;
  }

  .separador-pratica {
    display: none;
    height: auto;
  }

  .pratica {
    display: block;
    padding-top: 0px;
    height: auto;
    max-width: 300px;
  }

  .pratica p {
    font-size: 18px;
  }

  .secao-background-colorido {
    padding-bottom: 0px;
  }

  .praticas-lista-2 {
    display: flex;
    flex-direction: column-reverse;
  }

  .praticas-lista-2 .pratica p {
    text-align: left;
  }

  .materiais {
    margin: 0 auto;
  }

  .praticas-lista-2 .icone-download {
    text-align: left;
    padding-top: 0;
    padding-bottom: 20px;
  }

  .green-labs h2 {
    padding-top: 40px;
  }

  .green-labs h3 {
    padding: 0px;
  }

  .green-labs .descricao-green-labs {
    padding: 30px 0px 0px 0px;
  }

  .mais-sobre-guia {
    padding-top: 40px;
  }

  .sobre {
    height: auto;
    margin-right: 0px;
    margin-top: 20px;
    padding-left: 0px;
    width: auto;
  }

  .sobre h2 {
    padding: 0px 0px;
    text-align: left;
  }

  .sobre h2::after {
    margin: 0px 0px;
  }

  .sobre-text {
    margin: 0px 0px 0px 0px;
    width: auto;
  }

  .sobre-text p {
    font-size: 18px;
  }

  /* Formulario de contato */
  .form-contato {
    margin-left: 0px;
  }

  .form-contato input {
    width: 300px;
  }

  .form-contato textarea {
    width: 300px;
  }

  /* Footer */
  .footer ul {
    margin-left: 0px;
    padding: 20px 0;
  }

  .footer ul li:nth-of-type(2),
  .footer ul li:nth-of-type(3) {
    display: block;
  }

  .footer li:nth-child(1) {
    text-align: left;
  }

  .footer li:nth-child(2) {
    text-align: left;
  }

  .footer li:nth-child(3) {
    text-align: left;
    padding-left: 0px;
  }
}
