/* ESTILOS GERAIS */
@font-face {
  font-family: Metropolis;
  src: url("../font/Metropolis-master/Fonts/OpenType/Metropolis-Regular.otf");
}

@font-face {
  font-family: Poppins;
  src: url("../font/Poppins/Poppins-Regular.ttf");
}

.btn {
  /* botoes */
  background-color: #ff6100;
  border: 1px solid #3d2007;
  border-radius: 30px;
  color: #3d2007;
  font-family: Metropolis;
  letter-spacing: 0.1em;
  line-height: 20px;
  padding: 14px 19px;
  text-align: center;
  text-transform: uppercase;
}

.header {
  background-color: #fffccc;
  position: fixed;
  padding: 10px 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav-menu {
  /* alinha todo o bloco de nevegação a direita */
  text-align: right;
}

.nav-menu ul li {
  /* itens de nevegacao do menu */
  display: inline-block;
  margin-left: 30px;
  text-align: center;
  padding: 15px 0;
  width: 100px;
}

.nav-menu ul li a {
  /* tipografia dos itens de navegacao-menu */
  color: #3d2007;
  font-family: Metropolis;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 20px;
  padding: 10px 0; /* aumenta a area clicavel */
}

.nav-menu ul li a:hover {
  color: #a43e00;
}

/* INTRODUCAO */
.introducao {
  background-color: #fffccc;
  margin-top: 80px;
  height: 380px;
  padding: 40px 0;
  width: 100%;
}

.introducao .container {
  text-align: center;
}

.introducao .container img {
  margin-bottom: 40px;
}

/* Overview */

.overview {
  margin-top: 60px;
}

.overview {
  color: #3d2007;
  font-family: Metropolis;
}

.overview div {
  margin-bottom: 40px;
}

.overview h2 {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.overview .visao-geral h2:after {
  content: "";
  background: #3d2007;
  display: block;
  height: 3px;
  margin: 10px 0 0 30px;
  width: 60px;
}

.overview .sobre-nos h2:after {
  content: "";
  background: #3d2007;
  display: block;
  height: 3px;
  margin: 10px 0 0 20px;
  width: 60px;
}

.overview .objetivos h2:after {
  content: "";
  background: #3d2007;
  display: block;
  height: 3px;
  margin: 10px 0 0 20px;
  width: 60px;
}

.overview p {
  font-size: 24px;
  line-height: 30px;
}

/* Categorias */

/* Footer */
