/* ESTILOS GERAIS */
@font-face {
  font-family: Metropolis;
  src: url("../font/Metropolis-master/Fonts/OpenType/Metropolis-Regular.otf");
}

@font-face {
  font-family: Poppins;
  src: url("../font/Poppins/Poppins-Regular.ttf");
}

.btn {
  /* botoes */
  background-color: #ff6100;
  border: 1.4px solid #3d2007;
  border-radius: 30px;
  color: #3d2007;
  font-family: Metropolis;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 20px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
}
/* TODO: escolher cores para hover dos botões */
.btn:hover {
  /* background-color: #ff914d; */
  border-color: #a43e00;
  color: #fffccc;
}

.subtitulo {
  color: #3d2007;
  font-family: Metropolis;
  font-size: 24px;
  line-height: 30px;
  padding-top: 27px;
  text-transform: uppercase;
}

.header {
  background-color: #fffccc;
  position: fixed;
  padding: 10px 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav-menu {
  /* alinha todo o bloco de nevegação a direita */
  text-align: right;
}

.nav-menu ul li {
  /* itens de nevegacao do menu */
  display: inline-block;
  margin-left: 30px;
  text-align: center;
  padding: 15px 0;
  width: 100px;
}

.nav-menu ul li a {
  /* tipografia dos itens de navegacao-menu */
  color: #3d2007;
  font-family: Metropolis;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 20px;
  padding: 10px 0; /* aumenta a area clicavel */
}

.nav-menu ul li a:hover {
  color: #a43e00;
}

/* INTRODUCAO */
.introducao {
  background-color: #fffccc;
  margin-top: 90px; /* altura do header */
  height: 380px;
  width: 100%;
}

.introducao .container {
  padding: 40px 0;
  text-align: center;
}

.introducao .container img {
  margin-bottom: 40px;
}

.introducao .btn {
  margin-bottom: 40px;
}

/* OVERVIEW */

.overview {
  color: #3d2007;
  font-family: Metropolis;
  margin-top: 60px;
}

.visao-geral {
  /* Corrige alinhamento entre os textos */
  height: 180px;
  margin-bottom: 60px;
}

.sobre-nos,
.objetivos {
  /* Corrige alinhamento entre os textos */
  height: 150px;
  margin-bottom: 60px;
}

.overview h2 {
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 25px;
  text-transform: uppercase;
}

.overview h2:after {
  content: "";
  background: #3d2007;
  display: block;
  height: 3px;
  width: 60px;
}

.visao-geral h2:after {
  margin: 10px 40px;
}

.sobre-nos h2:after {
  margin: 10px 28.5px;
}

.objetivos h2:after {
  margin: 10px 27px;
}

.overview div p {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 60px;
  margin-left: 75px;
  max-width: 600px;
}

.overview div ul {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 60px;
  margin-left: 75px;
  max-width: 600px;
}

.overview div ul li {
  margin-bottom: 40px;
}

/* CATEGORIAS */
.categorias {
  background-color: #f8fbee;
}

.separador {
  padding-top: 40px;
}

.categorias h3 {
  color: #3d2007;
  font-family: Metropolis;
  font-size: 18px;
  line-height: 25px;
  margin-top: 20px;
  text-transform: uppercase;
}

.categorias-lista {
  padding-top: 260px;
  padding-left: 120px;
}

.categorias-lista li {
  display: inline-block;
  text-align: center;
  margin-right: 120px;
  max-width: 157px;
}

/* Footer */
