.materiais {
  vertical-align: top;
  width: 227px;
}

.materiais h2 {
  padding-top: 0px;
}

.materiais-linha {
  padding-top: 20px;
  vertical-align: top;
}

.indice-download {
  padding-top: 60px;
  padding-bottom: 0px;
}

/* LISTA DE DOWNLOADS */
.downloads {
  padding-top: 60px;
  padding-bottom: 60px;
}

.icone-download {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding-top: 20px;
  width: 233px;
}

.pratica p a {
  text-decoration: none;
}

/* GREEN-LABS */
.green-labs {
  background-color: $color-primary-light;
  color: $color-text-base;
  font-family: Metropolis;
  padding-bottom: 60px;
}

.green-labs h2 {
  font-size: 24px;
  font-weight: bold;
  padding-top: 60px;
  text-align: center;
  text-transform: uppercase;
}

.green-labs h2::after {
  background-color: $color-text-base;
  content: "";
  display: block;
  height: 3px;
  margin: 15px auto;
  width: 60px;
}

.green-labs h3 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  padding: 0px 130px 0px 130px;
}

.green-labs .descricao-green-labs {
  font-size: 18px;
  text-align: center;
  padding: 30px 180px 0px 180px;
  margin-bottom: 60px;
}

.universidades {
  text-align: center;
}

.universidades img {
  display: block;
  margin: 0px auto;
}

.btn-universidade {
  /* botoes */
  background-color: $color-button;
  border: 1.4px solid $color-text-base;
  border-radius: 10px;
  color: $color-text-base;
  font-family: Metropolis;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 20px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  width: 160px;
  display: block;
  margin: 0px auto;
}

.btn-universidade:hover {
  color: $color-primary;
}

/* MAIS SOBRE */
.mais-sobre-guia {
  padding-top: 60px;
}

.mais-sobre {
  vertical-align: top;
}

.mais-sobre h2 {
  padding-top: 0px;
}

.mais-sobre-linha {
  padding-top: 8px;
  vertical-align: top;
}

.sobre {
  padding-left: 10px;
  width: 230px;
  height: 130px;
  margin-right: 40px;
  margin-top: 60px;
}

.sobre h2 {
  color: $color-text-base;
  font-family: Metropolis;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 25px;
  padding: 0px 30px;
  text-align: center;
  text-transform: uppercase;
}

.sobre h2::after {
  content: "";
  background: $color-text-base;
  display: block;
  height: 3px;
  margin: 0px auto;
  width: 60px;
}

.sobre-text {
  margin: 60px 0px 100px 0px;
  width: 600px;
}

.sobre-text p {
  color: $color-text-base;
  font-family: Metropolis;
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 30px;
  text-align: left;
}

/* CONTATO */
.contato {
  background-color: $color-primary;
}

.form-contato {
  padding-top: 60px;
  display: block;
  margin-left: 130px;
  margin-bottom: 60px;
}

.form-contato label {
  color: $color-text-base;
  font-family: Metropolis;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 25px;
  padding-bottom: 5px;
  text-align: left;
}

.form-contato input {
  background-color: $color-input-forms;
  border: 0px solid $color-text-base;
  display: block;
  font-family: Metropolis;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  padding-left: 10px;
  outline: none;
  width: 700px;
}

.form-contato textarea {
  background-color: $color-input-forms;
  border: 0px solid $color-text-base;
  display: block;
  font-family: Metropolis;
  font-size: 14px;
  height: 120px;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top: 10px;
  outline: none;
  width: 700px;
}
