/* INDICE */
.indice {
  padding-bottom: 60px;
  padding-top: 40px;
}

.indice ul li {
  /* espaçamento entre cada item da lista */
  margin-top: 40px;
}

.indice ul li h3 {
  color: #3d2007;
  display: inline-block;
  font-family: Metropolis;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.1em;
}

.indice ul li h3 a {
  color: #3d2007;
}

.indice ul li h3 a:hover {
  color: #a43e00;
}

.indice ul li h3:nth-of-type(1) {
  /* numeracao do indice */
  margin-left: 130px;
  width: 60px;
}

.indice ul li h3:nth-of-type(2) {
  margin-left: 40px;
}

/* PRIMEIROS PASSOS */
.primeiros-passos {
  background-color: #f8fbee;
}

.ods {
  padding-left: 10px;
  width: 230px;
  height: 130px;
  margin-right: 40px;
  margin-top: 60px;
}

.ods h2 {
  color: #3d2007;
  font-family: Metropolis;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

.ods h2::after {
  content: "";
  background: #3d2007;
  display: block;
  height: 3px;
  margin-left: 80px;
  width: 60px;
}

.ods-text {
  margin-top: 60px;
  width: 600px;
}

.ods-text p {
  color: #3d2007;
  font-family: Metropolis;
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 30px;
  text-align: left;
}

.ods-12-13 {
  display: inline-block;
  padding-top: 40px;
  text-align: center;
  width: 100%;
}

/* AGENTES */

.agentes-lista {
  margin-bottom: 100px;
  text-align: center;
}

.agentes-lista p {
  color: #3d2007;
  font-family: Metropolis;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 20px;
  padding-top: 25px;
}

.frequentadores-lab {
  display: inline-block;
  text-align: center;
  width: 233px;
}

.separador-agentes {
  display: inline-block;
  height: 240px;
  margin: 0px 30px 0px 30px;
}

.lider-lab {
  display: inline-block;
  text-align: center;
  width: 233px;
}
