/* INDICE */
.indice {
  padding-bottom: 60px;
  padding-top: 40px;
}

.indice ul li {
  /* espaçamento entre cada item da lista */
  margin-top: 40px;
}

.indice ul li h3 {
  color: $color-text-base;
  display: inline-block;
  @include type1(36);
  letter-spacing: 0.1em;
}

.indice ul li h3 a {
  color: $color-text-base;
}

.indice ul li h3 a:hover {
  color: $color-text-hover;
}

.indice ul li h3:nth-of-type(1) {
  /* numeracao do indice */
  margin-left: 130px;
  width: 60px;
}

.indice ul li h3:nth-of-type(2) {
  margin-left: 40px;
}

/* PRIMEIROS PASSOS */
.primeiros-passos {
  background-color: $color-primary-light;
}

.ods {
  padding-left: 10px;
  width: 230px;
  height: 130px;
  margin-right: 40px;
  margin-top: 60px;
}

.ods h2 {
  color: $color-text-base;
  @include type1(18);
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}

.ods h2::after {
  content: "";
  background: $color-text-base;
  display: block;
  height: 3px;
  margin-left: 80px;
  width: 60px;
}

.ods-text {
  margin-top: 60px;
  width: 600px;
}

.ods-text p {
  color: $color-text-base;
  @include type1(24);
  letter-spacing: 0.1em;
  text-align: left;
}

.ods-12-13 {
  display: inline-block;
  padding-top: 40px;
  text-align: center;
  width: 100%;
}

/* AGENTES */

.agentes-lista {
  margin-bottom: 100px;
  text-align: center;
}

.agentes-lista p {
  color: $color-text-base;
  @include type1(14);
  letter-spacing: 0.1em;
  padding-top: 25px;
}

.frequentadores-lab {
  display: inline-block;
  text-align: center;
  width: 233px;
}

.separador-agentes {
  display: inline-block;
  height: 240px;
  margin: 0px 30px 0px 30px;
}

.lider-lab {
  display: inline-block;
  text-align: center;
  width: 233px;
}
