.secao-background-colorido {
  background-color: $color-primary-light;
  padding-top: 60px;
  padding-bottom: 60px;
}

.secao-background-branco {
  padding-top: 60px;
}

.praticas-lista {
  margin-bottom: 40px;
  text-align: left;
}

.praticas-lista-2 {
  margin-bottom: 40px;
  text-align: right;
}

.icone-lab {
  display: inline-block;
  text-align: center;
  width: 233px;
}

.icone-lab p {
  color: $color-text-base;
  @include type1(18);
  letter-spacing: 0.1em;
  padding-top: 25px;
}

.separador-pratica {
  display: inline-block;
  height: 170px;
  margin: 0px 30px 0px 30px;
}

.pratica {
  display: inline-block;
  padding-top: 25px;
  vertical-align: top;
  width: 590px;
  height: 145px;
}

.pratica p {
  color: $color-text-base;
  @include type1(18);
  letter-spacing: 0.1em;
}

#atencao {
  padding-top: 10px;
}

.praticas-lista-1 .pratica p {
  text-align: left;
}

.praticas-lista-2 .pratica p {
  text-align: right;
}

.pratica p a {
  color: $color-text-base;
  text-decoration: underline;
}

.pratica p a:hover {
  color: $color-text-hover;
}
