.sobre-o-ecolab div {
  color: $color-text-base;
  font-family: Metropolis;
  margin-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
}

.sobre-o-ecolab div h2 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sobre-o-ecolab div h2::after {
  background-color: $color-text-base;
  content: "";
  display: block;
  height: 3px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 60px;
}

.sobre-o-ecolab div p {
  font-size: 18px;
  line-height: 30px;
}

.sobre-o-ecolab div p a,
.sobre-o-ecolab div ul li a {
  color: $color-text-base;
  text-decoration: underline;
}

.sobre-o-ecolab div p a:hover,
.sobre-o-ecolab div ul li a:hover {
  color: $color-text-hover;
}

.sobre-o-ecolab div ul {
  font-size: 18px;
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
