$color-text-base: #3d2007;
$color-text-hover: #a43e00;
$color-primary: #fffccc;
$color-primary-light: #f8fbee;
$color-button: #ff6100;
$color-box-footer: #262626;
$color-input-forms: #ff914d; //(47%)
