@font-face {
  font-family: Metropolis;
  src: url("../font/Metropolis-Regular.otf");
}

@font-face {
  font-family: Poppins;
  src: url("../font/Poppins-Regular.ttf");
}
// Colores
$color-text-base: #3d2007;
$color-text-subtitle: #7c4d25;
$color-text-hover: #a43e00;
$color-primary: #fffccc;
$color-primary-light: #f8fbee;
$color-button: #ff6100;
$color-box-footer: #262626;
$color-input-forms: #ff914d; //(47%)

// Tipografia

@function em($pixel, $context: 16) {
  // transforma 'px' em 'em'
  @return $pixel / $context + em;
}

@mixin type1($size) {
  font-family: Metropolis, Arial, sans-serif;
  @if $size == 14 {
    font-size: em(14);
    line-height: em(20, 14);
  } @else if $size == 18 {
    font-size: em(18);
    line-height: em(25, 18);
  } @else if $size == 24 {
    font-size: em(24);
    line-height: em(30, 24);
  } @else if $size == 36 {
    font-size: em(36);
    line-height: em(40, 36);
  }
}
